# dependencies
/node_modules

# next.js
/.next
/_next
/out

# build artifacts committed to repo (never commit these)
/docs
/404
/_not-found
/content
/.nojekyll
/index.html
/index.txt
/404.html
/__next.*

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
